@font-face {
    font-family: 'N27';
    src: url('N27-Regular.eot');
    src: local('N27 Regular'), local('N27-Regular'),
        url('N27-Regular.eot?#iefix') format('embedded-opentype'),
        url('N27-Regular.woff2') format('woff2'),
        url('N27-Regular.woff') format('woff'),
        url('N27-Regular.ttf') format('truetype'),
        url('N27-Regular.svg#N27-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-ExtraLight.eot');
    src: local('Manrope ExtraLight'), local('Manrope-ExtraLight'),
        url('Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Manrope-ExtraLight.woff2') format('woff2'),
        url('Manrope-ExtraLight.woff') format('woff'),
        url('Manrope-ExtraLight.ttf') format('truetype'),
        url('Manrope-ExtraLight.svg#Manrope-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Light.eot');
    src: local('Manrope Light'), local('Manrope-Light'),
        url('Manrope-Light.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Light.woff2') format('woff2'),
        url('Manrope-Light.woff') format('woff'),
        url('Manrope-Light.ttf') format('truetype'),
        url('Manrope-Light.svg#Manrope-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-SemiBold.eot');
    src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
        url('Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-SemiBold.woff2') format('woff2'),
        url('Manrope-SemiBold.woff') format('woff'),
        url('Manrope-SemiBold.ttf') format('truetype'),
        url('Manrope-SemiBold.svg#Manrope-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Medium.eot');
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('Manrope-Medium.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Medium.woff2') format('woff2'),
        url('Manrope-Medium.woff') format('woff'),
        url('Manrope-Medium.ttf') format('truetype'),
        url('Manrope-Medium.svg#Manrope-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Bold.eot');
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('Manrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff'),
        url('Manrope-Bold.ttf') format('truetype'),
        url('Manrope-Bold.svg#Manrope-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('MabryPro-Black.eot');
    src: local('Mabry Pro Black'), local('MabryPro-Black'),
        url('MabryPro-Black.eot?#iefix') format('embedded-opentype'),
        url('MabryPro-Black.woff2') format('woff2'),
        url('MabryPro-Black.woff') format('woff'),
        url('MabryPro-Black.ttf') format('truetype'),
        url('MabryPro-Black.svg#MabryPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff'),
        url('Manrope-Regular.ttf') format('truetype'),
        url('Manrope-Regular.svg#Manrope-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('Manrope-ExtraBold.eot');
    src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
        url('Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Manrope-ExtraBold.woff2') format('woff2'),
        url('Manrope-ExtraBold.woff') format('woff'),
        url('Manrope-ExtraBold.ttf') format('truetype'),
        url('Manrope-ExtraBold.svg#Manrope-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

