.btn {
  display: inline-block;
  text-align: center;
  background-color: $brown;
  border: 0;
  border-radius: 6rem;
  color: $light;
  padding: 1.9rem 4.2rem;
  font-size: 1.4rem;
  line-height: 1.56;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.04em;
  background-color: $white;
  color: $black;

  &.--big {
    padding: 2.5rem 6.5rem;
  }
}

.btn-line {
  position: relative;
  display: inline-block;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  font-size: 1.4rem;
  line-height: 1.56;
  color: $black;
  padding: 0 0 2px;
  opacity: 0.5;
  cursor: pointer;
  
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    background-image: url('@/assets/line.svg');
    background-size: 100%;
    background-position: center;
  }

  &::after {
    content: '';
    background-image: url('@/assets/chevron-down.svg');
    background-size: contain;
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    margin-left: 1.2rem;
  }

  &.--active, &:hover {
    &::before {
      
    }
  }
}

.btn__detail {
  padding: 1.2rem 1.5rem;
  background-color: $white;
  border-radius: 50%;
  border: none;
  height: fit-content;
  box-shadow: -1px 2px 2px 0 $box-shadow;
  transition: transform 1s ease;

  img {
    width: 1rem;
    height: 1rem;
  }

  &.--first {
    position: absolute;
    top: 53%;
    left: 69.5%;
  }

  &.--second {
    position: absolute;
    top: 53%;
    left: 18%;
  }

  &.--third {
    position: absolute;
    top: 53%;
    left: 3%;
  }

  &.--fourth {
    position: absolute;
    top: 53%;
    left: 86.5%;
  }

  &.--fifth {
    position: absolute;
    top: 53%;
    left: 31.3%;
  }

  &.--sixth {
    position: absolute;
    top: 53%;
    left: 25%;
  }

  &.--seventh {
    position: absolute;
    top: 53%;
    left: 77.3%;
  }

  &:hover {
    transform: rotate(180deg);
  }

  // &.zoom {
  //   visibility: hidden;
  // }
}
.btn__zoom {
  padding: 0.6rem 0.9rem;
  background-color: $white;
  border-radius: 50%;
  border: none;
  height: fit-content;
  box-shadow: -1px 2px 2px 0 $box-shadow;
  transition: transform .5s ease;
  
  svg {
    width: 1rem;
    height: 1rem;
  }

  &.--first {
    position: absolute;
    top: 61%;
    left: 69.85%;
  }

  &.--second {
    position: absolute;
    top: 61%;
    left: 18.65%;
  }

  &.--third {
    position: absolute;
    top: 61%;
    left: 3.65%;
  }

  &.--fourth {
    position: absolute;
    top: 61%;
    left: 87.2%;
  }
  
  &.--fifth {
    position: absolute;
    top: 61%;
    left: 31.9%;
  }
  
  &.--sixth {
    position: absolute;
    top: 61%;
    left: 25.7%;
  }
  
  &.--seventh {
    position: absolute;
    top: 61%;
    left: 77.9%;
  }

  &:hover {
    transform: scale(1.4);
  }
}

.zoom {
  .btn__zoom {
    transform: scale(2) !important;

    &:hover {
      transform: scale(1) !important;
    }

    &.--first {
      left: 70.5% !important;
    }

    &.--second {
      left: 19.15% !important;
    }

    &.--third {
      left: 4.15% !important;
    }

    &.--fourth {
      left: 87.8% !important;
    }

    &.--fifth {
      left: 32.5% !important;
    }

    &.--sixth {
      left: 26.2% !important;
    }

    &.--seventh {
      left: 78.5% !important;
    }
  }

  .btn__detail {
    visibility: hidden !important;
  }
}

button:active, button:focus {
  border: none;
}
