.btn {
  display: inline-block;
  text-align: center;
  background-color: $black;
  border-radius: 3.8rem;
  color: $white;
  padding: 2.5rem 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
