.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.35s ease-in;
  z-index: 9999;
  
  .modal-dialog {
    position: absolute;
    border-radius: 2rem;
    background: $beige80;
    overflow: auto;
    cursor: default;
    transform: rotate(90deg);
    padding: 5rem;
    max-width: 50%;
    max-height: 35%;
  }  
  
  .modal-header {
    h2 {
      font-size: 6.2rem;
      color: $black;
      margin: 0;
    }
  }
  
  .modal p + p {
    margin-top: 1rem;
  } 

  .btn__close {
    padding: 1rem 1.2rem;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    background-color: $white;
    border-radius: 50%;
    border: none;
    box-shadow: 0 4px 4px 0 $box-shadow2;
    cursor: pointer;
  }

  .modal-content {
    padding: 5rem;
    h3 {
      font-size: 1.4rem;
      line-height: 166%;
      text-transform: uppercase;
    }
  }

  .modal-footer {
    display: flex;
    a {
      display: flex;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 500;
      text-decoration: none;
      position: relative;
      svg {
        margin-left: 1rem;
      }
      &::after {
        content: '';
        width: 100%;
        border-bottom: 1px solid $black;
        position: absolute;
        bottom: -0.2rem;        
      }
    }
  }
}


@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
@media (min-width: 1400px) {}