
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.museum {
  position: relative;
  $m: &;
  display: flex;
  flex-direction: row;
  width: fit-content;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow: hidden;
  overflow-x: scroll;

  &.active {    
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  &__slide {
    height: 100vh;
    position: relative;

    &:first-child::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 19rem;
      height: 100%;
      background: linear-gradient(90deg, rgba(54, 45, 45, 0.6) 0%, rgba(54, 45, 45, 0) 100%);
    }
    
    &.--four {
      a#decouvrir {
        position: absolute;
        top: 38%;
        left: 36%;
        div {
          position: relative;
          img {
            width: 7.5rem;
            height: 7.5rem;
            position: absolute;          
            -webkit-animation: infiniteRotate 10s linear infinite; /* Safari */
            animation: infiniteRotate 10s linear infinite;
            padding: 2px 3px 2px 1px;
            transition: background-color 0.5s ease-in-out;
            border-radius: 50%;
          }
          svg {
            width: 15px;
            height: 12px;
            position: absolute;
            top: 17px;
            left: 18px;
            padding: 16px 15px;
            background-color: #FFFFFF;
            border-radius: 50%;
            box-shadow: -1px 2px 2px 0 $box-shadow;
            transition: background-color 0.5s ease-in-out;
          }
        }
        &:hover {
          div {
            svg {
              padding: 34px 32px;
              top: -2px;
              left: -1px;
              background-color: transparent;
              z-index: 99999;
              box-shadow: none;
            }
            img {
              background-color: #FFFFFF;
            }
          }
        }
      }
    }
  }

  &__pic {
    display: block;
    height: 100%;
  }

  &.zoom {
    overflow-x: hidden;
    .museum__slide {
      height: 200vh;
      &.--three {
        margin-top: -23rem;
      }
      &.--four, &.--five, &.--six, &.--seven, &.--height, &.--nine {
        margin-top: -23rem;
      }
    }
  }


  .anchor {
    width: 10px;
    height: 10px;
    position: absolute;
    // &.zoom-in {
    //   background-color: red;
    // }
    // &.zoom-out {
    //   background-color: blue;
    // }
    &.--first {
      &.zoom-in {
        left: 23.5%;
        top: 0%;
      }
      &.zoom-out {
        left: -5.5%;
        top: 0%;
      }
    }
    &.--second {
      &.zoom-in {
        left: -27.5%;
        top: 0%;
      }
      &.zoom-out {
        left: -55.5%;
        top: 0%;
      }
    }
    &.--third {
      &.zoom-in {
        left: -33.5%;
        top: 0%;
      }
      &.zoom-out {
        left: -60.5%;
        top: 0%;
      }
    }
    &.--fourth {
      &.zoom-in {
        left: 51.5%;
        top: 0%;
      }
      &.zoom-out {
        left: 25.5%;
        top: 0%;
      }
    }
    &.--fifth {
      &.zoom-in {
        left: -5.5%;
        top: 0%;
      }
      &.zoom-out {
        left: -28.5%;
        top: 0%;
      }
    }

    &.--sixth {
      &.zoom-in {
        left: -10.5%;
        top: 0%;
      }
      &.zoom-out {
        left: -40.5%;
        top: 0%;
      }
    }

    &.--seventh {
      &.zoom-in {
        left: 39.5%;
        top: 0%;
      }
      &.zoom-out {
        left: 8.5%;
        top: 0%;
      }
    }
  }
  .content {
    position: absolute;
  }
}

.ml-auto {
  margin-left: auto;
}

::-webkit-scrollbar {
  display:none;
}

@-webkit-keyframes infiniteRotate {    
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
/* Standard syntax */
@keyframes infinite-rotate {  
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.logo {
  position: fixed;
  display: inline-block;
  left: 5rem;
  top: 5rem;
  z-index: 5;
  
  img {
    display: block;
    width: 17rem;
    height: 8.5rem;
  }
}

.sound-btn {
  z-index: 5;
  position: fixed;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background-color: $white;
  color: $black;
  background-image: url('@/assets/sound.svg');
  background-size: 3rem 2.7rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  left: 5rem;
  bottom: 5rem;

  &.--active, &:hover {
  background-image: url('@/assets/mute.svg');
  }
}

.btn-wrapper {
  position: fixed;
  z-index: 5;
  right: 5rem;
  bottom: 5rem;
}
