
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.museum {
  $m: &;
  display: flex;
  flex-direction: row;
  width: fit-content;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow: hidden;
  cursor: pointer;
  overflow-x: scroll;

  &.active {    
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  &__slide {
    height: 100vh;
    position: relative;

    &:first-child::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 19rem;
      height: 100%;
      background: linear-gradient(90deg, rgba(54, 45, 45, 0.6) 0%, rgba(54, 45, 45, 0) 100%);
    }
    
    &.--four {
      a#decouvrir {
        position: absolute;
        top: 33%;
        left: 35%;
        div {
          position: relative;
          img {
            width: 7.5rem;
            height: 7.5rem;
            position: absolute;          
            -webkit-animation: infiniteRotate 10s linear infinite; /* Safari */
            animation: infiniteRotate 10s linear infinite;
            padding: 2px 3px 2px 1px;
            transition: background-color 0.5s ease-in-out;
            border-radius: 50%;
          }
          svg {
            width: 14px;
            height: 11px;
            position: absolute;
            top: 17px;
            left: 18px;
            padding: 16px 15px;
            background-color: #FFFFFF;
            border-radius: 50%;
            box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
            transition: background-color 0.5s ease-in-out;
          }
        }
        &:hover {
          div {
            svg {
              padding: 34px 32px;
              top: -2px;
              left: -1px;
              background-color: transparent;
              z-index: 99999;
              box-shadow: none;
            }
            img {
              background-color: #FFFFFF;
            }
          }
        }
      }
    }
  }

  &__pic {
    display: block;
    height: 100%;
  }

  .content {
    position: absolute;
  }

  &__logo {
    position: absolute;
    display: inline-block;
    left: 5rem;
    top: 5rem;
    
    img {
      display: block;
      width: 17rem;
      height: 8.5rem;
    }
  }
}

::-webkit-scrollbar {
  display:none;
}

@-webkit-keyframes infiniteRotate {    
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
/* Standard syntax */
@keyframes infinite-rotate {  
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
