
.--one {

  .content {
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    width: 50rem;
    text-align: center;
  }

  // .title {
  //   font-size: 3.8rem;
  //   line-height: 1.56;
  //   font-weight: 400;
  //   margin: 0 0 4rem;
  //   text-transform: uppercase;
  //   font-family: 'Mabry Pro';
  // }

  // .desc {
  //   max-width: 30rem;
  //   margin: 3rem auto;
  // }

  .credits {
    font-size: 1rem;
    line-height: 1.46;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.4;
    margin-top: 20rem;
    a {
      color: #000;
      transition: opacity .5s ease;
      &:hover {
        opacity: 1;
      }
    }
  }

  @keyframes guide-btn {
    0% { transform: rotate(0deg); }
    50% { transform:  rotate(180deg); }
    100% { transform: rotate(360deg); }
  }

  .enter-btn {
    background-color: transparent;
    color: $black;
    border: .1rem solid $grey;
    padding: 3.5rem 6rem;
    border-radius: 50%;
    font-family: 'Editorial New';
    text-transform: uppercase;
    font-family: 1.8rem;
    transition: all .5s ease;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .billeterie-btn {
    font-weight: 600;
    padding: 2rem 6rem;
    position: absolute;
    right: 0;
    top: 5rem;
    transition: text-decoration .5s ease;
    &:hover {
      text-decoration: underline;
    }
  }

  .sound-btn {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background-color: $white;
    color: $black;
    background-image: url('@/assets/mute.svg');
    background-size: 3rem 2.7rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 5rem;
    bottom: 5rem;

    transition: background-image .5s ease;

    &.--active, &:hover {
    background-image: url('@/assets/sound-on.svg');
    }
  }

  .btn-wrapper {
    position: absolute;
    right: 0;
    bottom: 4rem;
  }

  .accessibility-btn {
    background-color: transparent;
    color: $black;
    transition: all .5s;
    font-size: 1.6rem;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

  .guide-btn {
    margin-right: 1.8rem;
    background: transparent;
    border-color: transparent;
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Manrope';

    &::before {
      content: '';
      background-image: url('@/assets/union.svg');
      background-size: cover;
      display: inline-block;
      margin-right: 0.7rem;
      width: 1.3rem;
      height: 1.3rem;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: .1rem;
      // opacity: 0;
    }

    &.--active, &:hover {
      text-decoration: underline;
      &::before {
        // opacity: 1;
        animation-name: guide-btn;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transition: opacity ease 0.2s;
      }
    }
  }
}
