@font-face {
  font-family: "N27";
  src: url("@/assets/fonts/N27-Regular.eot");
  src: local("N27 Regular"), local("N27-Regular"), url("@/assets/fonts/N27-Regular.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/N27-Regular.woff2") format("woff2"), url("@/assets/fonts/N27-Regular.woff") format("woff"), url("@/assets/fonts/N27-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope-ExtraLight.eot");
  src: local("Manrope ExtraLight"), local("Manrope-ExtraLight"), url("@/assets/fonts/Manrope-ExtraLight.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/Manrope-ExtraLight.woff2") format("woff2"), url("@/assets/fonts/Manrope-ExtraLight.woff") format("woff"), url("@/assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope-Light.eot");
  src: local("Manrope Light"), local("Manrope-Light"), url("@/assets/fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/Manrope-Light.woff2") format("woff2"), url("@/assets/fonts/Manrope-Light.woff") format("woff"), url("@/assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope-SemiBold.eot");
  src: local("Manrope SemiBold"), local("Manrope-SemiBold"), url("@/assets/fonts/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/Manrope-SemiBold.woff2") format("woff2"), url("@/assets/fonts/Manrope-SemiBold.woff") format("woff"), url("@/assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope-Medium.eot");
  src: local("Manrope Medium"), local("Manrope-Medium"), url("@/assets/fonts/Manrope-Medium.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/Manrope-Medium.woff2") format("woff2"), url("@/assets/fonts/Manrope-Medium.woff") format("woff"), url("@/assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope-Bold.eot");
  src: local("Manrope Bold"), local("Manrope-Bold"), url("@/assets/fonts/Manrope-Bold.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/Manrope-Bold.woff2") format("woff2"), url("@/assets/fonts/Manrope-Bold.woff") format("woff"), url("@/assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mabry Pro";
  src: url("@/assets/fonts/MabryPro-Black.eot");
  src: local("Mabry Pro Black"), local("MabryPro-Black"), url("@/assets/fonts/MabryPro-Black.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/MabryPro-Black.woff2") format("woff2"), url("@/assets/fonts/MabryPro-Black.woff") format("woff"), url("@/assets/fonts/MabryPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope-Regular.eot");
  src: local("Manrope Regular"), local("Manrope-Regular"), url("@/assets/fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/Manrope-Regular.woff2") format("woff2"), url("@/assets/fonts/Manrope-Regular.woff") format("woff"), url("@/assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope-ExtraBold.eot");
  src: local("Manrope ExtraBold"), local("Manrope-ExtraBold"), url("@/assets/fonts/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"), url("@/assets/fonts/Manrope-ExtraBold.woff2") format("woff2"), url("@/assets/fonts/Manrope-ExtraBold.woff") format("woff"), url("@/assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Editorial New";
  src: url("@/assets/fonts/EditorialNewRegular400.otf");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
  font-size: 1.8rem;
  line-height: 1.56;
  font-weight: 500;
  font-family: "Manrope";
}
body.accessibilite {
  overflow: auto;
  font-size: 2.6rem;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: #AD8665;
  border: 0;
  border-radius: 6rem;
  color: #EDE9E3;
  padding: 1.9rem 4.2rem;
  font-size: 1.4rem;
  line-height: 1.56;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.04em;
  background-color: #fff;
  color: #191919;
}
.btn.--big {
  padding: 2.5rem 6.5rem;
}

.btn-line {
  position: relative;
  display: inline-block;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  font-size: 1.4rem;
  line-height: 1.56;
  color: #191919;
  padding: 0 0 2px;
  opacity: 0.5;
  cursor: pointer;
}
.btn-line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  background-image: url("@/assets/line.svg");
  background-size: 100%;
  background-position: center;
}
.btn-line::after {
  content: "";
  background-image: url("@/assets/chevron-down.svg");
  background-size: contain;
  width: 1.3rem;
  height: 1.3rem;
  display: inline-block;
  margin-left: 1.2rem;
}
.btn__detail {
  padding: 2rem 2.18rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  height: fit-content;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: transform 1s ease, opacity 0.5s ease;
}
.btn__detail img {
  width: 2rem;
  height: 2rem;
}
.btn__detail.--first {
  position: absolute;
  top: 53%;
  left: 69.5%;
}
.btn__detail.--second {
  position: absolute;
  top: 53%;
  left: 18%;
}
.btn__detail.--third {
  position: absolute;
  top: 53%;
  left: 3%;
}
.btn__detail.--fourth {
  position: absolute;
  top: 53%;
  left: 86.5%;
}
.btn__detail.--fifth {
  position: absolute;
  top: 53%;
  left: 31.3%;
}
.btn__detail.--sixth {
  position: absolute;
  top: 53%;
  left: 25%;
}
.btn__detail.--seventh {
  position: absolute;
  top: 53%;
  left: 77.3%;
}
.btn__detail:hover {
  transform: scale(1.2);
}

.btn__zoom {
  padding: 1.4rem 1.7rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  height: fit-content;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.5s ease, top 1.5s ease-in-out, left 1.5s ease-in-out;
  z-index: 3;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.btn__zoom svg {
  width: 2rem;
  height: 2rem;
}
.btn__zoom.--first {
  animation-name: moveFirstBtnZoomOut;
  position: absolute;
  top: 61%;
  left: 69.85%;
}
.btn__zoom.--second {
  animation-name: moveSecondBtnZoomOut;
  position: absolute;
  top: 61%;
  left: 18.4%;
}
.btn__zoom.--third {
  animation-name: moveThirdBtnZoomOut;
  position: absolute;
  top: 61%;
  left: 3.3%;
}
.btn__zoom.--fourth {
  animation-name: moveFourthBtnZoomOut;
  position: absolute;
  top: 61%;
  left: 86.9%;
}
.btn__zoom.--fifth {
  animation-name: moveFifthBtnZoomOut;
  position: absolute;
  top: 61%;
  left: 31.6%;
}
.btn__zoom.--sixth {
  animation-name: moveSixthBtnZoomOut;
  position: absolute;
  top: 61%;
  left: 25.4%;
}
.btn__zoom.--seventh {
  animation-name: moveSeventhBtnZoomOut;
  position: absolute;
  top: 61%;
  left: 77.6%;
}
.btn__zoom:hover {
  transform: scale(1.2);
}

.zoom .btn__zoom {
  transform: scale(2) !important;
}
.zoom .btn__zoom:hover {
  transform: scale(1) !important;
}
.zoom .btn__zoom.--first {
  left: 70.5% !important;
}
.zoom .btn__zoom.--second {
  left: 19.15% !important;
}
.zoom .btn__zoom.--third {
  left: 4.15% !important;
}
.zoom .btn__zoom.--fourth {
  left: 87.8% !important;
}
.zoom .btn__zoom.--fifth {
  left: 32.5% !important;
}
.zoom .btn__zoom.--sixth {
  left: 26.2% !important;
}
.zoom .btn__zoom.--seventh {
  left: 78.5% !important;
}
.zoom .btn__detail {
  visibility: hidden !important;
}

.btn__zoom.zoom {
  visibility: hidden;
  animation-duration: 2s;
  animation-timing-function: linear;
}
.btn__zoom.zoom.--first {
  animation-name: moveFirstBtnZoomIn;
}
.btn__zoom.zoom.--second {
  animation-name: moveSecondBtnZoomIn;
}
.btn__zoom.zoom.--third {
  animation-name: moveThirdBtnZoomIn;
}
.btn__zoom.zoom.--fourth {
  animation-name: moveFourthBtnZoomIn;
}
.btn__zoom.zoom.--fifth {
  animation-name: moveFifthBtnZoomIn;
}
.btn__zoom.zoom.--sixth {
  animation-name: moveSixthBtnZoomIn;
}
.btn__zoom.zoom.--seventh {
  animation-name: moveSeventhBtnZoomIn;
}
.btn__zoom.zoom.active {
  visibility: visible;
  animation-duration: 2s;
  animation-timing-function: linear;
  transform: scale(1.2) !important;
}
.btn__zoom.zoom.active:hover {
  transform: scale(1) !important;
}
.btn__zoom.zoom.active.--first {
  left: 58%;
  top: 74%;
}
.btn__zoom.zoom.active.--second {
  left: 43.4%;
  top: 75%;
}
.btn__zoom.zoom.active.--third {
  left: -16%;
  top: 83%;
}
.btn__zoom.zoom.active.--fourth {
  left: 121.8%;
  top: 83%;
}
.btn__zoom.zoom.active.--fifth {
  left: 9.8%;
  top: 84%;
}
.btn__zoom.zoom.active.--sixth {
  left: 62.2%;
  top: 83%;
}
.btn__zoom.zoom.active.--seventh {
  left: 57%;
  top: 83%;
}

button:active, button:focus {
  border: none;
}

.__hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes moveFirstBtnZoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 58%;
    top: 74%;
  }
}
@keyframes moveFirstBtnZoomOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 61%;
    left: 69.85%;
  }
}
@keyframes moveSecondBtnZoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 43.4%;
    top: 75%;
  }
}
@keyframes moveSecondBtnZoomOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 61%;
    left: 18.4%;
  }
}
@keyframes moveThirdBtnZoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: -16%;
    top: 83%;
  }
}
@keyframes moveThirdBtnZoomOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 61%;
    left: 3.3%;
  }
}
@keyframes moveFourthBtnZoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 121.8%;
    top: 83%;
  }
}
@keyframes moveFourthBtnZoomOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 61%;
    left: 86.9%;
  }
}
@keyframes moveFifthBtnZoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 9.8%;
    top: 84%;
  }
}
@keyframes moveFifthBtnZoomOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 61%;
    left: 31.6%;
  }
}
@keyframes moveSixthBtnZoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 62.2%;
    top: 83%;
  }
}
@keyframes moveSixthBtnZoomOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 61%;
    left: 25.4%;
  }
}
@keyframes moveSeventhBtnZoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 57%;
    top: 83%;
  }
}
@keyframes moveSeventhBtnZoomOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 61%;
    left: 77.6%;
  }
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.35s ease-in;
  z-index: -1;
  pointer-events: none;
}
.modal.show {
  pointer-events: all;
  z-index: 99999;
}
.modal .modal-dialog {
  position: absolute;
  border-radius: 2rem;
  background: rgba(252, 249, 244, 0.9411764706);
  overflow: auto;
  cursor: default;
  padding: 5rem;
  width: 60rem;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}
.modal .modal-dialog.show {
  opacity: 1;
  pointer-events: all;
}
.modal .modal-header {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
.modal .modal-header h2 {
  font-size: 5rem;
  color: #191919;
  margin: 0;
  font-family: "Editorial New";
  color: #A1A09D;
}
.modal .modal-header h3 {
  font-size: 2.4rem;
  line-height: 166%;
  text-transform: uppercase;
  font-family: "Editorial New";
  margin-bottom: 0;
}
.modal .btn__close {
  padding: 1rem 1.2rem;
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(107, 83, 83, 0.1254901961);
  cursor: pointer;
  transition: 0.5s;
}
.modal .btn__close:hover {
  transform: scale(1.2);
}
.modal .modal-content p {
  line-height: 170%;
  font-size: 1.4rem;
}
.modal .modal-footer {
  display: flex;
  margin-top: 5rem;
}
.modal .modal-footer a {
  margin-left: auto;
  display: flex;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
.modal .modal-footer a svg {
  margin-left: 1rem;
}
.modal .modal-footer a::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #191919;
  position: absolute;
  bottom: -0.2rem;
}

@-webkit-keyframes smoothOpacity {
  100% {
    opcaity: 1;
  }
}
/* Standard syntax */
@keyframes smoothOpacity {
  100% {
    opcaity: 1;
  }
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.museum {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow: hidden;
  overflow-x: scroll;
}
.museum.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.museum__slide {
  height: 100vh;
  position: relative;
}
.museum__slide:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 19rem;
  height: 100%;
  background: linear-gradient(90deg, rgba(54, 45, 45, 0.6) 0%, rgba(54, 45, 45, 0) 100%);
}
.museum__slide.--four a#decouvrir {
  position: absolute;
  top: 38%;
  left: 36%;
}
.museum__slide.--four a#decouvrir div {
  position: relative;
}
.museum__slide.--four a#decouvrir div img {
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  -webkit-animation: infiniteRotate 10s linear infinite; /* Safari */
  animation: infiniteRotate 10s linear infinite;
  padding: 2px 3px 2px 1px;
  transition: background-color 0.5s ease-in-out;
  border-radius: 50%;
}
.museum__slide.--four a#decouvrir div svg {
  width: 15px;
  height: 12px;
  position: absolute;
  top: 17px;
  left: 18px;
  padding: 16px 15px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.5s ease-in-out;
}
.museum__slide.--four a#decouvrir:hover div svg {
  padding: 34px 32px;
  top: -2px;
  left: -1px;
  background-color: transparent;
  z-index: 99999;
  box-shadow: none;
}
.museum__slide.--four a#decouvrir:hover div img {
  background-color: #FFFFFF;
}
.museum__pic {
  display: block;
  height: 100%;
}
.museum.zoom {
  overflow-x: hidden;
}
.museum.zoom .museum__slide {
  height: 200vh;
}
.museum.zoom .museum__slide.--three {
  margin-top: -23rem;
}
.museum.zoom .museum__slide.--four, .museum.zoom .museum__slide.--five, .museum.zoom .museum__slide.--six, .museum.zoom .museum__slide.--seven, .museum.zoom .museum__slide.--height, .museum.zoom .museum__slide.--nine {
  margin-top: -23rem;
}
.museum .anchor {
  width: 10px;
  height: 10px;
  position: absolute;
}
.museum .anchor.--first.zoom-in {
  left: 23.5%;
  top: 0%;
}
.museum .anchor.--first.zoom-out {
  left: -5.5%;
  top: 0%;
}
.museum .anchor.--second.zoom-in {
  left: -27.5%;
  top: 0%;
}
.museum .anchor.--second.zoom-out {
  left: -55.5%;
  top: 0%;
}
.museum .anchor.--third.zoom-in {
  left: -33.5%;
  top: 0%;
}
.museum .anchor.--third.zoom-out {
  left: -60.5%;
  top: 0%;
}
.museum .anchor.--fourth.zoom-in {
  left: 51.5%;
  top: 0%;
}
.museum .anchor.--fourth.zoom-out {
  left: 25.5%;
  top: 0%;
}
.museum .anchor.--fifth.zoom-in {
  left: -5.5%;
  top: 0%;
}
.museum .anchor.--fifth.zoom-out {
  left: -28.5%;
  top: 0%;
}
.museum .anchor.--sixth.zoom-in {
  left: -10.5%;
  top: 0%;
}
.museum .anchor.--sixth.zoom-out {
  left: -40.5%;
  top: 0%;
}
.museum .anchor.--seventh.zoom-in {
  left: 39.5%;
  top: 0%;
}
.museum .anchor.--seventh.zoom-out {
  left: 8.5%;
  top: 0%;
}
.museum .content {
  position: absolute;
}

.ml-auto {
  margin-left: auto;
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes infinite-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.logo {
  position: fixed;
  display: inline-block;
  left: 5rem;
  top: 5rem;
  z-index: 5;
}
.logo img {
  display: block;
  width: 17rem;
  height: 8.5rem;
}

.sound-btn {
  z-index: 5;
  position: fixed;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  color: #191919;
  background-image: url("@/assets/sound.svg");
  background-size: 3rem 2.7rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  left: 5rem;
  bottom: 5rem;
}
.sound-btn.--active, .sound-btn:hover {
  background-image: url("@/assets/mute.svg");
}

.btn-wrapper {
  position: fixed;
  z-index: 5;
  right: 5rem;
  bottom: 5rem;
}

.billeterie-btn {
  font-weight: 600;
  padding: 2rem 6rem;
  position: absolute;
  right: 0;
  top: 5rem;
  transition: text-decoration 0.5s ease;
}
.billeterie-btn:hover {
  text-decoration: underline;
}

.accessibility-btn {
  background-color: transparent;
  color: #191919;
  transition: all 0.5s;
  font-size: 1.6rem;
  font-weight: 600;
}
.accessibility-btn:hover {
  text-decoration: underline;
}

.guide-btn {
  margin-right: 1.8rem;
  background: transparent;
  border-color: transparent;
  color: #191919;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Manrope";
}
.guide-btn::before {
  content: "";
  background-image: url("@/assets/union.svg");
  background-size: cover;
  display: inline-block;
  margin-right: 0.7rem;
  width: 1.3rem;
  height: 1.3rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0.1rem;
}

.zoom-modal {
  -webkit-mask-image: url("@/assets/mask.svg");
  mask-image: url("@/assets/mask.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: all ease-in-out 1.5s;
  pointer-events: none;
  top: 45%;
}
.zoom-modal img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.zoom-modal.--first {
  left: 50%;
}
.zoom-modal.--second {
  left: 0;
}
.zoom-modal.--third {
  left: -4.5%;
}
.zoom-modal.--fourth {
  left: 79%;
}
.zoom-modal.--fifth {
  left: 23%;
}
.zoom-modal.--sixth {
  left: 17.5%;
}
.zoom-modal.--seventh {
  left: 70%;
}
.zoom-modal.--active {
  top: 50%;
  mask-size: 120%;
  pointer-events: all;
}

.--one .content {
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  width: 50rem;
  text-align: center;
}
.--one .credits {
  font-size: 1rem;
  line-height: 1.46;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.4;
  margin-top: 22rem;
}
.--one .credits a {
  color: #000;
  transition: opacity 0.5s ease;
}
.--one .credits a:hover {
  opacity: 1;
}
@keyframes guide-btn {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.--one .enter-btn {
  background-color: transparent;
  color: #191919;
  border: 0.1rem solid #A1A09D;
  padding: 3.5rem 6rem;
  border-radius: 50%;
  font-family: "Editorial New";
  text-transform: uppercase;
  font-family: 1.8rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.--one .enter-btn:hover {
  text-decoration: underline;
}

.--two .timeline {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
}
.--two .timeline input {
  display: none;
}

.--five .content {
  position: absolute;
}
.--five .btn-line-wrapper {
  position: absolute;
  top: 27%;
  left: 35.5%;
}

main#accessibilite {
  background-color: #EDE9E3;
}
main#accessibilite h1, main#accessibilite h2, main#accessibilite h3 {
  font-family: "N27";
}
main#accessibilite h1 {
  display: flex;
  position: relative;
  width: fit-content;
  margin: 0 auto 5rem auto;
  padding-top: 11rem;
}
main#accessibilite h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 0.2rem solid #191919;
  margin-top: 2rem;
  width: 50%;
  margin-left: 25%;
}
main#accessibilite h2 {
  margin-top: 0;
  display: flex;
  position: relative;
  width: fit-content;
}
main#accessibilite h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 0.2rem solid #191919;
  margin-top: 2rem;
  width: 75%;
}
main#accessibilite section {
  padding: 2rem 5rem;
  display: flex;
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
}
main#accessibilite section div {
  width: 65%;
  padding: 0 0 0 2rem;
}
main#accessibilite section img {
  object-fit: cover;
  max-width: 25%;
}
main#accessibilite header {
  height: 9rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  width: calc(100% - 2rem);
  background-color: #EDE9E3;
  position: fixed;
  z-index: 99999;
  border-bottom: 0.2rem solid #AD8665;
}
main#accessibilite header img {
  max-height: 7rem;
}
main#accessibilite header nav {
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  align-items: center;
}
main#accessibilite header nav a {
  margin-right: 1rem;
  color: #191919;
}
main#accessibilite header nav a:last-child {
  margin: 0 0 0 auto;
  background-color: #AD8665;
  border-radius: 4rem;
  padding: 1.2rem 3rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
  border: 0.2rem solid #AD8665;
}
main#accessibilite header nav a:last-child:hover {
  background-color: #EDE9E3;
  color: #AD8665;
}
main#accessibilite header nav a.active {
  color: #AD8665;
}
main#accessibilite header nav a:first-child {
  margin-left: 3rem;
}

main#loader {
  height: 100vh;
  width: 100%;
  display: flex;
  background: url("@/assets/loader-slide.png");
  background-position: center;
  background-size: cover;
}
main#loader img {
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
