html {
  font-size: 62.5%;
}

body {
  margin: 0;
  max-height: 100vh;
  overflow-y: hidden;
}

h1, .h1 {
  font-size: 2.5rem;
}

.btn {
  display: inline-block;
  text-align: center;
  background-color: #000;
  border-radius: 3.8rem;
  color: #fff;
  padding: 2.5rem 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.btn__detail {
  padding: 1.2rem 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  height: fit-content;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: transform 1s ease;
}
.btn__detail img {
  width: 1rem;
  height: 1rem;
}
.btn__detail.--first {
  position: absolute;
  top: 53%;
  left: 69.5%;
}
.btn__detail:hover {
  transform: rotate(180deg);
}
.btn__detail.zoom {
  visibility: hidden;
}

.btn__zoom {
  padding: 0.6rem 0.9rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  height: fit-content;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.5s ease;
}
.btn__zoom svg {
  width: 1rem;
  height: 1rem;
}
.btn__zoom.--first {
  position: absolute;
  top: 61%;
  left: 69.85%;
}
.btn__zoom:hover {
  transform: scale(1.4);
}
.btn__zoom.zoom {
  transform: scale(2);
}
.btn__zoom.zoom:hover {
  transform: scale(1);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.35s ease-in;
  z-index: 9999;
}
.modal .modal-dialog {
  position: absolute;
  border-radius: 2rem;
  background: rgba(252, 249, 244, 0.9411764706);
  overflow: auto;
  cursor: default;
  transform: rotate(90deg);
  padding: 5rem;
  max-width: 50%;
  max-height: 35%;
}
.modal .modal-header h2 {
  font-size: 6.2rem;
  color: #000;
  margin: 0;
}
.modal .modal p + p {
  margin-top: 1rem;
}
.modal .btn__close {
  padding: 1rem 1.2rem;
  position: absolute;
  top: 2.2rem;
  right: 2.2rem;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 4px 0 #6B5353;
  cursor: pointer;
}
.modal .modal-content {
  padding: 5rem;
}
.modal .modal-content h3 {
  font-size: 1.4rem;
  line-height: 166%;
  text-transform: uppercase;
}
.modal .modal-footer {
  display: flex;
}
.modal .modal-footer a {
  display: flex;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}
.modal .modal-footer a svg {
  margin-left: 1rem;
}
.modal .modal-footer a::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #000;
  position: absolute;
  bottom: -0.2rem;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.museum {
  display: flex;
  flex-direction: row;
  width: fit-content;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow: hidden;
  cursor: pointer;
  overflow-x: scroll;
}
.museum.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.museum__slide {
  height: 100vh;
  position: relative;
}
.museum__slide.--four a#decouvrir {
  position: absolute;
  top: 33%;
  left: 35%;
}
.museum__slide.--four a#decouvrir div {
  position: relative;
}
.museum__slide.--four a#decouvrir div img {
  width: 7.5rem;
  height: 7.5rem;
  position: absolute;
  -webkit-animation: infiniteRotate 10s linear infinite; /* Safari */
  animation: infiniteRotate 10s linear infinite;
  padding: 2px 3px 2px 1px;
  transition: background-color 0.5s ease-in-out;
  border-radius: 50%;
}
.museum__slide.--four a#decouvrir div svg {
  width: 14px;
  height: 11px;
  position: absolute;
  top: 17px;
  left: 18px;
  padding: 16px 15px;
  background-color: #FFFFFF;
  border-radius: 50%;
  box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.5s ease-in-out;
}
.museum__slide.--four a#decouvrir:hover div svg {
  padding: 34px 32px;
  top: -2px;
  left: -1px;
  background-color: transparent;
  z-index: 99999;
  box-shadow: none;
}
.museum__slide.--four a#decouvrir:hover div img {
  background-color: #FFFFFF;
}
.museum__pic {
  display: block;
  height: 100%;
}
.museum.zoom {
  overflow-x: hidden;
}
.museum.zoom .museum__slide {
  height: 200vh;
}
.museum.zoom .museum__slide.--three {
  margin-top: -23rem;
}
.museum .anchor {
  width: 10px;
  height: 10px;
  position: absolute;
}
.museum .anchor.--first.zoom-in {
  left: 23.5%;
  top: 0%;
}
.museum .anchor.--first.zoom-out {
  left: -5.5%;
  top: 0%;
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes infinite-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
