main#loader {
  height: 100vh;
  width: 100%;
  display: flex;
  background: url('@/assets/loader-slide.png');
  background-position: center;
  background-size: cover;
  img {
    margin: auto;
  }
}
